In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)

df.to_csv("raw_data.csv", index=False)
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# Missing values
df.loc[5:10, 'total_bill'] = np.nan
df.loc[15:18, 'tip'] = np.nan

# Duplicate rows
df = pd.concat([df, df.iloc[0:3]], ignore_index=True)

# Messy column names
df.columns = [col.upper().replace(" ", "_") for col in df.columns]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TOTAL_BILL  241 non-null    float64
 1   TIP         243 non-null    float64
 2   SEX         247 non-null    object
 3   SMOKER      247 non-null    object
 4   DAY         247 non-null    object
 5   TIME        247 non-null    object
 6   SIZE        247 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.6+ KB

In [ ]:
log = []

# Fill numeric missing values with mean
for col in ['TOTAL_BILL', 'TIP']:
    if df[col].isnull().sum() > 0:
        mean_val = df[col].mean()
        df[col].fillna(mean_val, inplace=True)
        log.append(f"Filled missing values in {col} with mean ({mean_val:.2f})")

/tmp/ipython-input-3098771324.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)

In [ ]:
df['SIZE'] = df['SIZE'].astype(int)
log.append("Converted SIZE to integer type")

df.dtypes

TOTAL_BILL    float64
TIP           float64
SEX            object
SMOKER         object
DAY            object
TIME           object
SIZE            int64
dtype: object

In [ ]:
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]

log.append(f"Removed {before - after} duplicate rows")

In [ ]:
df.columns = df.columns.str.lower()
log.append("Standardized column names to lowercase")

In [ ]:
df.to_csv("cleaned_data.csv", index=False)

with open("cleaning_log.txt", "w") as f:
    for item in log:
        f.write(item + "\n")

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4